#portfolio-filter{
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  div{
    background-color: #117a8b;
    padding: 8px;
    border-radius: 5px;
    flex-direction: column;
    display: flex;
    width: 85%;
    label{
      margin-left:5px;
    }
  }
  #portfolio-filter-select{
    margin-left:5px;
    padding:5px;
    border-radius:5px;
    border: 0px solid transparent;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width:150px;
    
  }
}


@media only screen and (min-width: 600px) {
  #portfolio-filter{
    justify-content: flex-end;
    div{
      padding: 8px 8px;
      flex-direction: row;
      width:auto;
      align-items: center;
    }
    #portfolio-filter-select{
      margin-left:5px;
      padding:5px;
      border-radius:5px;
      border: 0px solid transparent;
    }
  }
}

////////////////////////////////////////////



@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-top: calc(80vh + 1px);
    
  }
  100% {
    opacity: 1;
    margin-top: 25px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    margin-top: 25px;
  }
  100% {
    opacity: 0;
    margin-top: calc(80vh + 1px);
  }
}

@media only screen and (min-width: 600px) {

  @keyframes fadeIn {
    0% {
      opacity: 0;
      margin-left: calc(-50% + 1px);
      
    }
    100% {
      opacity: 1;
      margin-left: 0;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
      margin-left: 0;
    }
    100% {
      opacity: 0;
      margin-left: calc(-50% + 1px);
    }
  }

  @media only screen and (min-width: 900px) {

    @keyframes fadeIn {
      0% {
        opacity: 0;
        margin-top: calc(80vh + 1px);
        
      }
      100% {
        opacity: 1;
        margin-top: 25px;
      }
    }
  
    @keyframes fadeOut {
      0% {
        opacity: 1;
        margin-top: 25px;
      }
      100% {
        opacity: 0;
        margin-top: calc(80vh + 1px);
      }
    }
  }

}